/* Drop menu button */
div.dropdown {
  display: inline-block;
  position: relative;
}
div.dropdown div.dropdown-menu {
  position: absolute;
  display: none;
  background-color: var(--box-primary-dark);
  border-radius: 5px;
  min-width: 230px;
  z-index: 100;
}

div.dropdown div.dropdown-menu.drop-up {
  top: 0;
  left: 0;
}

div.dropdown div.dropdown-menu.drop-right {
  left: 0;
}

div.dropdown div.dropdown-menu.drop-bottom {
  left: 0;
}

div.dropdown div.dropdown-menu.drop-left {
  right: 0;
}

div.dropdown:hover div.dropdown-menu {
  display: block;
  padding: 15px;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: normal;
}

div.dropdown-menu > ul li.item-list {
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  color: var(--text-primary);
  transition: color .3s;
}
div.dropdown-menu > ul li.item-list:hover {
  color: var(--text-primary-hover);
}