.alert {
    padding: 15px 30px;
    background-color: var(--progress-bar-full);
    box-sizing: border-box;
    border-radius: 50px;
    z-index: 1000;
    color: var(--text-primary-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 1;
}
.alert-floating {
    position: absolute;
    display: block;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: visible;
    transition: opacity 1s;
}
.alert.alert-success {
    background-color: var(--alert-success);
}
.alert.alert-danger {
    background-color: var(--alert-danger);
}
.alert.alert-info {
    background-color: var(--alert-info);
}
.alert.alert-active {
    opacity: 1;
}