.alert {
    padding: 15px 20px;
    background-color: var(--progress-bar-full);
    box-sizing: border-box;
    border-radius: 50px;
    z-index: 1000;
    color: var(--text-primary-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 1;
}
.alert-floating {
    position: absolute;
    display: block;
    bottom: 10px;
    left: 50%;
    opacity: 0;
    visibility: visible;
    animation: 5s linear fadeInOut;
}
.alert.alert-success {
    background-color: var(--alert-success);
}
.alert.alert-danger {
    background-color: var(--alert-danger);
}
.alert.alert-info {
    background-color: var(--alert-info);
}
@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
        transform: translate(-50%, 100%);
    }
    5%, 95% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}