.song-details {
    grid-column: 1/2;
    grid-row: 1;
    align-self: center;
    padding-left: 20px;
    box-sizing: border-box;
}
.song-details {
    display: flex;
}
.photo-mini-song {
    display: none;
    height: 60px;
    width: 60px;
}
.song-details-info{
    padding-left: 20px;
    align-self: center;
    padding-left: 20px;
    box-sizing: border-box;
}
.song-details-title a {
    color: var(--text-primary-white);
}

@media screen and (max-width: 1000px), (max-height: 600px){
    .photo-song{
        display: none;
    }
    .photo-mini-song {
        display: block;
    }
}