.song-details {
    grid-column: 1/2;
    grid-row: 1;
    align-self: center;
    padding-left: 20px;
    box-sizing: border-box;
    position: relative;
}
.song-details {
    display: flex;
}
.photo-mini-song {
    position: absolute;
    display: block;
    width: 240px;
    bottom: 63px;
    left: 0px;
}
.song-details-info{
    padding-left: 20px;
    align-self: center;
    padding-left: 20px;
    box-sizing: border-box;
}
.song-details-title a {
    color: var(--text-primary-white);
}
.song-details-author {
    font-size: 0.8em;
}

@media screen and (max-width: 1000px), (max-height: 600px){
    .photo-mini-song {
        position: unset;
        width: 60px;
    }
}