.card-favorite {
  width: 100%;
  position: relative;
}
.float-favorite-details {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.float-favorite-details > h3 {
  font-size: 56px;
}
.float-favorite-details > small {
  font-size: 0.6em;
  font-weight: normal;
  letter-spacing: normal;
  color: var(--text-primary);
}
.favorite-img {
  max-width: 250px;
  height: 250px;
}
.favorite-info {
  font-size: 16px;
  letter-spacing: normal;
  color: var(--text-primary);
  font-weight: normal;
}
.favorite-owner {
  font-weight: bolder;
  text-transform: capitalize;
}
.float-favorite-details-type {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
}