.image-album-circle{
  text-align: center;
}
.image-album-circle > img {
  border-radius: 50%;
  width: 100%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.image-album-circle > svg {
  border-radius: 50%;
  box-shadow: 0px 0px 10px var(--box-content);
}