.form-register-title{
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}

.form-register-message-success {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-register-message-success p {
  color: var(--text-success);
}