/*  Login Page */
.login-container {
    height: 100vh;
    position: relative;
    display: block;
    overflow: hidden;
}
.login-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(4px);
    transition: filter 1s;
    animation-name: zoonInZoonOut;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    z-index: 1;
}
.login-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 400px;
    height: 100vh;
    background-color: var(--box-primary-dark);
    padding: 15px;
    box-shadow: 0px 0px 10px var(--box-content);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    transition: max-width 0.6s;
}
.login-body, .login-header{
    width: 100%;
    max-width: 400px;
}
.login-text{
    position: absolute;
    top: 30%;
    right: 0;
    font-size: 2.5em;
    color: var(--text-primary-white);
    text-align: end;
    padding-right: 10px;
    text-shadow: 0px 0px 2px rgb(36, 33, 30), 0px 0px 2px rgb(63, 30, 26), 2px 0px 2px rgb(31, 29, 27), 0px 2px 2px rgb(35, 31, 28);
    transform: translateX(100%) rotateY(0);
    animation-name: text-login;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    font-family: 'Quicksand', sans-serif;
    z-index: 2;
}
.login-text span {
    text-transform: uppercase;
    font-size: 2em;
    line-height: 0.9em;
    display: block;
    color: white;
    font-weight: bold;
}

@keyframes zoonInZoonOut {
    0%, 100% {
        transform: scale(1);
    }
    30%{
        transform: scale(1.1) translate(3%, 3%);
        filter: blur(0px);
    }
    60%{
        transform: scale(1.1) translate(-3%, -3%);
        filter: blur(0px);
    }
}
@keyframes text-login {
    to {
        transform: translateX(0);
    }
}


.login-footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
.login-footer p {
    margin-bottom: 15px;
    font-size: 14px;
}


@media screen and (max-width: 900px) {
    .login-content{
        max-width: 100%;

    }
    .login-text {
        animation-name: none;
    }
}