.player-container {
    height: 90px;
    background-color: var(--box-secundary-dark);
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
}